div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 15em;
  border: 3em solid orange; 
}

ul {
  margin-left: 49px;
  margin-right: 1px;
  width: 5em;
  text-align: center;	
}

button {
	margin-bottom: 3em;
}
